

body   {max-width: width: 1000px;
        padding: 10px 100px 30px 48px;
        background: white;
	    font-family: Montserrat, Roboto, sans-serif;
        line-height: 120%;}


# Верстка
.container {}

# Шапка 

img .logo {left: 0px;
top: 67.43px;
padding: 0px;
margin: 0px;}

.color_green {background-color: #E0E402;}

.header__inner {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     width: 100%;
     max-width: 1000px;
     height: 50px;
     margin: 0px;
     line-height: 50px;}

.logo {
    margin: 0 -75px;
}

 .topnav {
     display: flex;
     align-items: center;
     justify-content: center;
}

.topnav a {
    margin: 0 10px;
    font: Roboto;
    color: #000;
    font-size: 18pt;
}

a.active {
    color: #938400
}

 <!-- Текст -->

h1, h2, p, h1 > p 
{font-style: normal;}

h2, p {font-family: Roboto;
line-height: 120%;}

h1 {
width: 766px;
height: 316px;
left: 43px; top: 121px;
font-family: Montserrat;
font-weight: 600; font-size: 88px;
line-height: 90%;
letter-spacing: -0.05em;
font-feature-settings: 'tnum' on, 'lnum' on, 'kern' off;}

h2 {
width: 459px;
height: 95px;
left: 48px; top: 876.17px;
font-weight: bold;
font-size: 40px;}

p {font-size: 24px;}

.new {
width: 751px;
height: 302px;
left: 48px;
top: 525.84px;

font-family: Roboto;
font-weight: normal;
font-size: 36px;
line-height: 120%;}

.bad_wool_2 {position: absolute;
width: 466px;
height: 738.43px;
left: 488px;
/* or 29px */}

.col-xs-2 > p {padding-top: 140px;
font-size: 12px;}

figcaption {
    font: Roboto;
    font-size: 17px;
    line-height: normal;
}

.wool figcaption {font: Montserrat;
font-size: 16px;
line-height: normal;}

p .cite { color: rgba(18, 131, 0, 1);
font-family: Times New Roman;
font-style: italic;
font-weight: bold;
font-size: 34px;
line-height: 115%;
margin-top: 38px;}

footer p {
    font-size: 12pt;
}
