

body   {max-width: 1000px;
        padding: -10px 100px 30px 48px;
        background: white;
	    font-family: 'Montserrat', 'Roboto', sans-serif;
        line-height: 120%;
        margin: 0px;}

# Верстка

.container {max-width: inherit;
padding-right: 15px;
padding-left: 15px;
margin-right: 0;
margin-left: 0px;}

.row {
    margin:50px 48px 83px 33px;}



# Шапка 

.color_green {background-color: #E0E402;}

.header__inner {
display: flex;
justify-content: space-between;
width: 100%;
max-width: 1000px;
height: 50px;
margin: 0px;
line-height: 50px;}


.color_green {
background-color: #E0E402;
width: 1000px;}

.logo {
margin: 0 0 0 -7px;
width: 226px;
height: 76px;}


 .topnav {
display: flex;
align-items: center;
justify-content: center;
margin: 18px 0 0 -194px;}

.topnav a {
margin: 0 0 0 19px;
font-family: 'Roboto';
color: #000;
font-size: 24px;
}

a.active {
color: #938400}

.tel {
right: -76px;
top: -1px;
margin-top: 19px;
margin-left: -99px;
font-family: 'Roboto';
font-size: 24px;
font-weight: 500;
}

 <!-- Текст -->

h1, h2, p, h1 > p 
{font-style: normal;}

h2, p {
font-family: 'Roboto';
line-height: 120%;}

h1, .h1 {
width: 766px;
height: 316px;
left: 43px; top: 121px;
font-family: 'Montserrat';
font-weight: 600;
font-size: 88px;
line-height: 90%;
font-feature-settings: 'tnum' on, 'lnum' on, 'kern' off;
margin: -4px 2px -9px -19px;}

.h1 {
letter-spacing: -0.05em;
margin: -4px 3px -9px -17px
;}

.h1_1 {
margin: 0 0 0 14px;}

.h1_safe {
margin: 0px 0 0px -10px;}


h2 {
width: 638px;
height: 90px;
left: 48px;
top: 876.17px;
font-family: 'Roboto';
font-weight: 800;
font-size: 40px;
margin: 0 0 -56px -11px;
letter-spacing: 0.01em;}

.col-xs-9.sydn_p {
margin: 25px 0 0 -11px;
width: 740px;}

.sydn_p1 {
margin: 5px 0 -3px 0px;
padding: 0 0 5px 0;}

.sydn_p2 {
margin: 11px 0 13px 0px;
padding: 0 0 5px 0;}

.sydn_p3 {
margin: 2px 0 -3px 0px;
padding: 0 0 5px 0;}

p {
font-size: 24px;}

.new {
width: 751px;
height: 189px;
left: 48px;
line-height: 43.2px;
top: 525.84px;
margin: -15px 0 31px -13px;

font-family: 'Roboto';
font-weight: normal;
font-size: 36px;
line-height: 120%;}

.col-xs-9 {
margin: 0px 0 -50px 0;}

.col-xs-2 > p {
padding-top: 0px;
#position: absolute;
width: 142px;
left: 700px;
top: -635px;
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 120%;
text-decoration-line: underline;
color: #1C52A3;
margin: 36px 0 0 -8px;}

.words {
#position: relative;
left: -180px;
bottom: -80px;
margin: 12px 0 50px 0;}

figcaption {
font-family: 'Roboto';
font-size: 17px;
line-height: normal;
}

.wool figcaption
{font-family: 'Montserrat';
font-size: 16px;
line-height: normal;}

.cite { color: #128300;
font-family: 'Times New Roman';
font-style: italic;
font-weight: 700;
font-size: 33px;
line-height: 110%;
margin: 15px 0 10px 1px;
width: 838px;
height: 174px;
left: -18px;}

footer {margin: 15px 0 0 0;}

img.media_links {
width: 122px;
height: 28.45px;
margin: -51px 0 0 33px;}

footer p {
margin: -27px 0 0 -1px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;}

.text-lg-start {
background-color: rgba(0, 0, 0, 0.05);
min-height: 50px;
width: 100%;
max-width: 1000px}

