

body   {max-width: width: 1000px;
        padding: -10px 100px 30px 48px;
        background: white;
	    font-family: Montserrat, Roboto, sans-serif;
        line-height: 120%;
        margin: 0px;}


# Верстка

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0px;}

.row {
    margin:50px 48px 83px 33px;
}
# Шапка 



.color_green {background-color: #E0E402;}

.header__inner {
     display: flex;
     justify-content: space-between;
     width: 100%;
     max-width: 1000px;
     height: 50px;
     margin: 0px;
     line-height: 50px;}

img .logo {
padding: 0px;}

.color_green {background-color: #E0E402;}

.logo {
    margin: 5px -33px;
}


 .topnav {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 22px 0 15px 0;
}

.topnav a {
    margin: 0 0 0 15px;
    font: Roboto;
    color: #000;
    font-size: 18pt;
}

a.active {
    color: #938400
}

.tel {margin-top: 22px; margin-left: -20px;
font-size: 18px;}

 <!-- Текст -->

h1, h2, p, h1 > p 
{font-style: normal;}

h2, p {font-family: Roboto;
line-height: 120%;}

h1 {
width: 766px;
height: 316px;
left: 43px; top: 121px;
font-family: Montserrat;
font-weight: 600; font-size: 88px;
line-height: 90%;
letter-spacing: -0.05em;
font-feature-settings: 'tnum' on, 'lnum' on, 'kern' off;}

h2 {
width: 459px;
height: 95px;
left: 48px; top: 876.17px;
font-weight: bold;
font-size: 40px;
margin: 0 0 15px 0;}

p {font-size: 24px;}

.new {
width: 751px;
height: 189px;
left: 48px;
top: 525.84px;
margin: -8px 0 20px 0;

font-family: Roboto;
font-weight: normal;
font-size: 36px;
line-height: 120%;}

.col-xs-9 {margin: 0px 0 -50px 0;}

.col-xs-2 > p {padding-top: 140px;
font-size: 12px;}

.words {position: static;
left: -170px;
margin: 0 0 0px 0;}

figcaption {
    font: Roboto;
    font-size: 17px;
    line-height: normal;
}

.wool figcaption {font: Montserrat;
font-size: 16px;
line-height: normal;}

.cite { color: #128300;
font-family: Times New Roman;
font-style: italic;
font-weight: bold;
font-size: 34px;
line-height: 115%;
margin: 11px 0 10px 0;
width: 896px;
height: 174px;
left: -18px;}

footer p {
    font-size: 12pt;
    margin: 50px 0 0 0;
}
